API_HOST_URL=http://localhost:8080
API_JWT_SECRET=your-secret-key
API_VALIDATE_AUTH_EMAIL=false
ROUTER_PORT=8080

DATABASE_HOST=postgres # database configs should work with docker-compose setup by using service name as host
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres
DATABASE_SSL_MODE=disable

POSTMARK_SERVER_TOKEN=
POSTMARK_ACCOUNT_TOKEN=
POSTMARK_SENDER_EMAIL=
POSTMARK_SUBSCRIBE_REQUEST_TEMPLATE_ID=0
POSTMARK_NEW_RELEASE_TEMPLATE_ID=0

GITHUB_AUTH_TOKEN=

SCANNER_INTERVAL=1h

REDIS_ADDR=redis:6379 # redis configs should work with docker-compose setup by using service name as host
REDIS_PASSWORD=
REDIS_DB=0
REDIS_CACHE_TTL=10m
